/* —— Font —————————————————————————————————————————————————————————————————— */

@font-face {
    font-family: 'zh-cn';
    src: url('../Assets/Fonts/zh-cn.woff2') format('woff2'),
        url('../Assets/Fonts/zh-cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    background-color: #01060E;
}

.hero {
    height: 4000px;
}

.formpage {
    height: calc(100vh - 104px);
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 30;
}

.data-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -10px
}

.portrait {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 11.11%;
    padding: 10px
}

.portrait.new {
    order: -1
}

.portrait.new:before {
    content: "new";
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #ffb300;
    border-radius: 4px;
    padding: 1px 6px 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 11px
}

.portrait.soon {
    order: -2
}

.portrait.soon:before {
    content: "soon";
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #42a5f5;
    border-radius: 4px;
    padding: 1px 6px 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    font-size: 11px
}

.portrait:hover .icon {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
}

.portrait:hover .name {
    color: #fff
}

.icon {
    width: 70px;
    height: 70px;
    background: #131A24;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23), 0 3px 6px rgba(0, 0, 0, .16);
    transition: box-shadow .3s;
    background-size: cover;
    background-position: center;
}

.data-list .portrait .type {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 24px;
    height: 24px;
    background: #131A24;
    border-radius: 100px;
    padding: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23), 0 3px 6px rgba(0, 0, 0, .16)
}

.data-list .portrait .name {
    width: 100%;
    color: #a7b1c1;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .3s
}

@media (max-width:991.98px) {
    .data-list .portrait {
        width: 14.28%
    }
}

@media (max-width:767.98px) {
    .data-list .portrait {
        width: 20%
    }
}

@media (max-width:575.98px) {
    .data-list .portrait {
        width: 33.33%
    }
}

.cha {
    height: calc(100vh - 104px);
    width: 100vw;
    background-color: #010914;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'zh-cn';
}

.background {
    background-color: #000002;
    z-index: 3;
}

.cha h1 {
    position: absolute;
    z-index: 1;
    color: #131A24;
    font-size: 250px;
}

.cha .back {
    position: absolute;
    filter: brightness(0) opacity(0.3);
    z-index: 0;
    height: 125%;
    transform: translateX(-10%);
}

.cha .front {
    height: 90%;
    z-index: 2;
}

.slider--first {
    background: #010914;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 51;
}

.slider--second {
    background: #131A24;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.sliderIn--first {
    background: #010914;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.sliderIn--second {
    background: #131A24;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 49;
}


.data-list {
    display: flex;
    flex-wrap: wrap
}

.container {
    /* On limite la largeur */
    width: 100%;
    max-width: 960px;

    /* On centre */
    margin: 0 auto;

    /* Et on ajoute une marge (sur les petits écrans seulement) */
    padding: 0 20px;

    /*
    * Le "box-sizing: border-box;" permet de ne pas impacter la width avec le padding
    * La largeur max réelle du contenu est donc de 920px =&gt; 960 - (2 x 20)
    */
    box-sizing: border-box;
}

/* Sur les écrans plus larges, la marge est gérée en pourcentage */
@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

.primary {
    background-color: #01060E;
}

.secondary {
    background-color: #010914;
}

.ternary {
    background-color: #131A24;
}

.artImgList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -10px
}
.userAdd {
    font-weight: 300;
    font-size: 25px;
    line-height: 20px;
}


.navbar-nav>li {
    margin-left: 20px;
    margin-right: 20px;
}

.artefact {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

.hero {
    background-color: #010914;
}

.lore{
    color: #bec2c8;
    width: 70%;
    text-align: justify;
    text-indent: 40px;
    font-size: 1.25rem;
    font-weight: 300;
    /*! margin-bottom: 110px; */
}



/* ————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————————  */


.wrapper {
    --color: #1f242d;
    --color-invert: #fff;
    --clip-path: circle(15px at left);
    --clip-path-hover: circle(70px at left);
    --clip-path-clicked: circle(100vw at left);
    --duration: 0.4s;
    --timing-function: ease;
    position: absolute;
    top: 215px;
    right: -170px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.wrapper .video {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
}
.wrapper .video iframe {
    position: fixed;
    background: #c4cbde;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}
.wrapper .text {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2px;
    opacity: var(--opacity, 1);
    transition: opacity 0.3s var(--timing-function) 0.2s;
}
.wrapper .text::before, .wrapper .text::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -1px;
    right: 25px;
    height: 0;
}
.wrapper .text::before {
    box-shadow: 26px 0 0 1px var(--color);
    right: var(--r, 100%);
    opacity: var(--opacity, 0);
    transition: right 0.5s ease-in, opacity 0.1s linear;
}
.wrapper .text::after {
    box-shadow: 26px 0 0 1px var(--color-invert);
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
}
.wrapper .text > span::before, .wrapper .text > span::after {
    content: attr(data-text);
    padding-left: 26px;
}
.wrapper .text > span::before {
    color: var(--color);
}
.wrapper .text > span::after {
    color: var(--color-invert);
    clip-path: var(--clip-path);
    transition: clip-path var(--duration) var(--timing-function);
    position: absolute;
    left: 0;
}
.wrapper input {
    width: 220px;
    height: 40px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 40px;
    z-index: 2;
    appearance: none;
    cursor: pointer;
}
.wrapper input:focus {
    outline: 0;
}
.wrapper input:hover ~ .video {
    clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text::before {
    --r: 25px;
    --opacity: 1;
}
.wrapper input:hover ~ .text::after {
    clip-path: var(--clip-path-hover);
}
.wrapper input:hover ~ .text > span::after {
    clip-path: var(--clip-path-hover);
}
.wrapper input:checked {
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.wrapper input:checked ~ .video {
    clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text {
    --opacity: 0;
    transition: opacity 0.3s var(--timing-function);
}
.wrapper input:checked ~ .text::after {
    clip-path: var(--clip-path-clicked);
}
.wrapper input:checked ~ .text > span::after {
    clip-path: var(--clip-path-clicked);
}



.subtitle {
    color: #131A24;
    font-family: 'zh-cn';
    font-size: 70px;
    margin-top: 100px;
}


@media (max-width:991.98px) {
    .cha h1#name {
        z-index: 3;
        font-size: 80px;
    }
    .lore {
        width: 100%;
    }
    .subtitle {
        font-size: 45px;
    }
}


.tags {
    margin : 170px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: #131A24;
    font-weight: 500;
}

.skillcard {
    color: #a7b1c1 !important;
    height: 100%;
}

.skillcard .card-body {
    flex: inherit;
}

.skills-data-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.skills-data-item:nth-child(2n+1) {
    background: #131A24;
}

.skills-data-item:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.skillcard h3 {
    font-size: 1rem;
}



.loginform {
    height: calc(100vh - 104px);
    margin: 0;
}


.form-control {
    line-height: 2;
}

label {
    color: #fff;
}

p,


a, a:hover {
    color: #fff;
    text-decoration: none;
}

.loginform a {
    color: #0a58ca;
}

.loginform a:hover {
    text-decoration: solid;
}

@media(max-width: 932px) {
    .display-none {
        display: none !important;
    }
}


dl {
    color: white;
}

#formInfo {
    color: rgb(230, 74, 74);
}